body {
    background-color: #6d97b4;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ec7a28;
    border-radius: 15px;
    padding: 80px;

}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: grid;
    padding: 1%;
    appearance: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 15px;
    width: 300px;
}

h1, h2 {
    color: #28465c;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    color:#000000;
    background-color:#ec7a28;
    margin: 0 auto;
    display: block;
}

div {
    white-space: pre-wrap;
}

.route {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.route-link {
    margin-left: 2%;
}

#main-footer {
    width:100%;
    float:none;
    bottom: 0;
    position: absolute;
    margin: auto;
    text-align: center;
}
